@font-face {
    

    font-family: xy;
    src: url(fonts/JosefinSans-Italic-VariableFont_wght.ttf);

     
    
}
@font-face {
    font-family:op;
    src: url(fonts/AkayaTelivigala-Regular.ttf); 

}

body{
    
    background-image:linear-gradient(90deg,rgba(29, 26, 26, 0.589),rgba(0, 0, 0, 0.781)) ,url('images/pic7.jpg');
    height: auto;
    
    background-position: center;
    background-size: cover;
    
    
    
    
    
}

#logo{
    
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border:  rgb(255, 0, 0);
    border-style: dashed;
    
}

#title{
    float: left;
    overflow: auto;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: xy;
   

    
}
#title:hover{
    color: rgb(255, 0, 0);
}
#list ul {
    
    float: right;
    display: flex;
    list-style-type: none;   /*important*/
   font-size: 20px;
   font-weight:bold;
    text-decoration: none;
    font-family: xy;
    
    
    

}

#list ul li a{
    text-decoration: none;
    color: aliceblue;
    padding-right: 20px;
    
}
#list ul li a:hover{
    color: red;
}
#name{
    border: 3px rgba(221, 216, 216, 0.514) solid;
    background-color: rgba(240, 248, 255, 0.068);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  font-family: op;
    color: rgb(255, 255, 255);
    
  
    
    
}
#name:hover{
    color: red;
}
#centercomponent{
    border: 1px solid rgba(0, 0, 0, 0);
    height: auto;
     width: 500px;
     margin: auto;
     margin-top: 100px;
     
     
    
}
#desc{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: xy;
}
#signup{
    color: aliceblue;
    font-size: 25px;
    font-family: xy;
}
#signup a{
    text-decoration: underline;
    color: rgb(162, 255, 0);
    font-weight: bold;
    
}
#signup a:hover{
    color: rgb(255, 0, 0);
}

